theme = "my_theme"

[editor]
true-color = true
cursorline = true
color-modes = true
undercurl = true
bufferline = "multiple"
line-number = "relative"
completion-replace = true
rulers = [100]
scrolloff = 12
end-of-line-diagnostics = "disable"

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'
"'" = "'"

[editor.inline-diagnostics]
cursor-line = "disable"
other-lines = "disable"

# [editor.auto-save]
# after-delay.enable = true
# after-delay.timeout = 3000

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
character = "┃"
render = true
skip-levels = 1

[editor.file-picker]
hidden = false

[editor.lsp]
auto-signature-help = false
display-progress-messages = true
display-messages = true
display-inlay-hints = false

[editor.statusline]
left = [
  "mode",
  "spinner",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
center = ["version-control"]
right = [
  "total-line-numbers",
  "diagnostics",
  "selections",
  "register",
  "position",
  "file-encoding",
]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.whitespace.render]
space = "none"
tab = "none"
nbsp = "none"
nnbsp = "none"
newline = "none"

[editor.soft-wrap]
enable = true

[keys.normal]
"A-w" = ":wa"
"A-X" = ":xa"
"A-q" = ":qa"
"A-c" = ":bc"
"H" = ["select_mode", "goto_first_nonwhitespace", "normal_mode"]
"L" = ["select_mode", "goto_line_end", "normal_mode"]
V = ["goto_line_start", "select_mode", "extend_to_line_bounds"]
D = ["extend_to_line_end", "yank", "delete_selection"]
Y = ["extend_to_line_end", "yank"]
X = ["extend_line_above"]
j = "move_visual_line_down"
k = "move_visual_line_up"
"ret" = ["open_below", "normal_mode"]
left = ":buffer-previous"
right = ":buffer-next"
up = "move_selection_lines_up"                                   # Note: only works with my fork
down = "move_selection_lines_down"                               # Note: only works with my fork
# up = [
#   "extend_to_line_bounds",
#   "yank_main_selection_to_clipboard",
#   "delete_selection",
#   "move_line_up",
#   "move_line_up",
#   "paste_after",
#   "keep_primary_selection",
# ]
# down = [
#   "extend_to_line_bounds",
#   "yank_main_selection_to_clipboard",
#   "delete_selection",
#   "paste_after",
#   "keep_primary_selection",
# ]
esc = ["collapse_selection", "keep_primary_selection"]

# Easy insertions
"ø" = "@i[]<left><esc>"
"æ" = "@i{}<left><esc>"
"Æ" = "@i``<left><esc>"

[keys.normal.space.i]
i = ":toggle lsp.display-inlay-hints"
d = [
  ":toggle inline-diagnostics.cursor-line hint",
  ":toggle inline-diagnostics.other-lines hint",
  ":toggle end-of-line-diagnostics hint",
]
D = [
  ":toggle inline-diagnostics.cursor-line disable",
  ":toggle inline-diagnostics.other-lines disable",
  ":toggle end-of-line-diagnostics disable",
]

[keys.normal.space]
"æ" = "@gla{}<left><esc>"
"," = "@gla;<esc>"
"å" = "@miw* /<ret>"
"p" = "@\"%p"

[keys.normal.space.u]
c = ":pipe ccase --to camel"
C = ":pipe ccase --to Uppercamel"
s = ":pipe ccase --to snake"
l = ":pipe ccase --to lower"
u = ":pipe ccase --to upper"

[keys.insert]
esc = ["collapse_selection", "normal_mode"]

[keys.select]
H = "goto_first_nonwhitespace"
L = "goto_line_end"
u = "switch_case"
esc = ["collapse_selection", "normal_mode"]

[keys.select.space.u]
c = ":pipe ccase --to camel"
C = ":pipe ccase --to Uppercamel"
s = ":pipe ccase --to snake"
l = ":pipe ccase --to lower"
u = ":pipe ccase --to upper"
