[language-server.pyrefly]
command = "pyrefly"
args = ["lsp"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "rust"
scope = "source.rust"
injection-regex = "rust"
file-types = ["rs"]
roots = ["Cargo.toml", "Cargo.lock"]
auto-format = true
indent = { tab-width = 2, unit = "  " }
language-servers = ["rust-analyzer"]
rulers = [100]

[language.auto-pairs]
'(' = ")"
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'

[[language]]
name = "markdown"
language-servers = ["marksman"]
rulers = [80]

[[language]]
name = "python"
language-servers = ["ruff", "pyrefly", "pyright"]
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true
rulers = [88]

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "tailwindcss-ls"]
formatter = { command = 'prettier', args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "json"
language-servers = ["vscode-json-language-server"]
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "yaml"
language-servers = ["yaml-language-server"]
formatter = { command = 'prettier', args = ["--parser", "yaml"] }
auto-format = true

[[language]]
name = "bash"
language-servers = ["bash-language-server"]

[[language]]
name = "c"
language-servers = ["clangd"]

[[language]]
name = "go"
language-servers = ["gopls"]

[[language]]
name = "dockerfile"
language-servers = ["docker-langserver"]

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["format", "-"] }
auto-format = true
